{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at commodi distinctio dolorum esse est excepturi fuga illo impedit, labore laboriosam magnam porro quae quas quibusdam rem tempore ut voluptates?</p>
{% endblock %}
